@model PROG_Part2.Models.Product

@{
    Layout = "~/Views/Shared/_Farmer.cshtml";
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Product Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            Product Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductType)
        </dd>

        <dt>
            Date Supplied
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSupplied)
        </dd>
    </dl>
    <p>@ViewBag.Message</p>
</div>
<p>
    <a class="btn btn-outline-dark"@Html.ActionLink("Edit", "Edit", new { id = Model.ProductId })</a> 
    <a class="btn btn-outline-dark"@Html.ActionLink("Back to List", "Index")</a>
</p>
